<div class="container-fluid">
  <footer class="footer">
    <div class="row">
      <div class="pull-left">
        <p class="navbar-text">&copy Eat Local Chicago 2017</p>
      </div>
      <div class="pull-right">

      </div>
    </footer>
  </div><!-- /.container-fluid -->
