<div class="container-fluid">
  <footer class="footer">
    <div class="row">
      <div class="pull-left">
        <p class="navbar-text">&copy 2017 Eat Local Chicago</p>
      </div>
      <div class="pull-right">
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
        Sign Up for Updates
        </button>
      </div>
    </footer>
  </div><!-- /.container-fluid -->
