<div class="container">

  <h1>Explore Other Cities</h1>
    <div class="row">
      <div class="col-xs-6 col-md-3">
  <%= image_tag "2nd-fridays-logo.jpg", {height: 200} %>
  <p class="lead">Join us for our monthly gallery night!</p>
</div>